version: "3"

x-services-volumes: &service-volumes
  - ./:/app/:rw,cached

x-database-variables: &database-variables
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres

x-app-variables: &app-variables
  <<: *database-variables
  POSTGRES_HOST: postgres

services:
  website:
    build:
      context: .
      dockerfile: superlists/Dockerfile
    command: python superlists/manage.py runserver 0.0.0.0:80
    volumes: *service-volumes
    environment: *app-variables
    depends_on:
      - db_migrate
    ports:
      - "80:80"

  db_migrate:
    build:
      context: .
      dockerfile: superlists/Dockerfile
    command: python superlists/manage.py migrate

  # unit_test:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: python superlists/manage.py test ./superlists
