name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v3
#     - name: Build the Docker image
#       run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

    steps:
    # need checkout before using compose-action
    - uses: actions/checkout@v3
    - uses: isbang/compose-action@v1.4.1
      with:
        compose-file: "./docker-compose.yml"
        up-flags: "--remove-orphans"
        down-flags: "--remove-orphans"
        services: |
          website
          db_migrate

  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest

    steps: 
      name: Generate Deployment Package
      run: zip -r deploy.zip *
    
      name: Get timestamp
      uses: gerred/actions/current-time@master
      id: current-time
        
      name: Run string replace
      uses: frabert/replace-string-action@master
      id: format-time
      with:
        pattern: '[:\.]+'
        string: "${{ steps.current-time.outputs.time }}"
        replace-with: '-'
        flags: 'g'

      name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v14
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: ToDoTeam2App
        environment_name: ToDoTeam2App-env
        version_label: "todoApp-${{ steps.format-time.outputs.replaced }}"
        region: us-east-1
        deployment_package: deploy.zip
  # test:
#     runs-on: ubuntu-latest

# #     steps:
# #     - uses: actions/checkout@v3
# #     - name: Build the Docker image
# #       run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

#     steps:
#     # need checkout before using compose-action
#     - uses: actions/checkout@v3
#     - uses: isbang/compose-action@v1.4.1
#       with:
#         compose-file: "./docker-compose.yml"
#         up-flags: "--remove-orphans"
#         services: |
#           unit_test

    # runs-on: ubuntu-latest

    # steps:
    # - uses: actions/checkout@v2
    # - name: Set up Python 3.8
    #   uses: actions/setup-python@v2
    #   with:
    #     python-version: 3.8
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install -r ./superlists/requirements.txt
    # - name: Run migrations
    #   run: python superlists/manage.py migrate
    # - name: Run tests
    #   run: python superlists/manage.py test ./superlists
